:root {
  --primary: #2f4f4f;
  --secondary: #33312E;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  font-family: 'STIX Two Math', serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Karla', sans-serif; */
  font-weight: 400;
  line-height: 1.5;
  /* font-size: 16px; */
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

.MuiTypography-h5 {
  font-family: 'STIX Two Math', serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  /* font-size: 1rem; */
  text-decoration: none;
  padding: 0.25rem 1rem;
  margin: 0 1rem 0 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--secondary);
  color: #ffff;
  box-shadow: 0 0 .35rem rgba(0, 0, 0, .5);
}

hr {
  margin: 2rem;
}

#categories {
  display: flex;
  justify-content: center;
  
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

ul {
  list-style-type: none;
}

input {
  /* font-size: 1rem; */
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 95%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row li{
  margin-left: 1rem;
  margin-right: 2rem;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

#detail-top-container p {
  margin: 3vw;
}

@media screen and (max-width: 600px) {

  #categories button {
    font-size: 2rem;
  }

  #feed-title {
    font-size: 2rem;
  }

  header img {
    max-width: 6rem; 
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {

  #categories button {
    font-size: 4rem;
  }

  #feed-title {
    font-size: 4rem;
  }

  header img {
    max-width: 10rem; 
  }

  #logo-title {
    visibility: hidden;
  }

  header li {
    font-size: 3rem;
  }

  h2 {
    font-size: 4rem;
    white-space: nowrap;
  }

  #back-link{
    font-size: 3vw;
  }

  .body-container,
  .body-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body-container label,
  .body-container input,
  .body-container button {
    font-size: 4vw;
    
  }

  .body-container button {
    background-color: var(--primary);
    color: white;
    margin: 2vw;
    padding: 2vw;
  }

  .body-container p{
    font-size: 4vw;
    text-align: left;
    margin: 3vw;
  }


  .body-container strong{
    font-size: 5vw;
  }

  .body-container fieldset,
  .body-container form {
    height: 20vw;
  }

  #review-list span {
    font-size: 4vw;
  }
}

@media screen and (min-width: 1280px) {

  #categories button {
    font-size: 2rem;
  }

  #feed-title {
    font-size: 2.75rem;
  }

  header img {
    max-width: 6rem; 
  }

  #logo-title {
    font-size: 4rem;
    visibility: visible;
  }
}

@media screen and (min-width: 1920px) {
  #categories button {
  }

  #feed-title {
    font-size: 2.75rem;
  }

  header img {
    max-width: 6rem; 
  }

  #logo-title {
    font-size: 4rem;
  }

  header li {
    font-size: 2rem;
  }
}